@use "../abstract/colors" as *;

aside {
  padding: 1.25rem;
  display: block;
  min-width: 10rem;
  border-right: 1px solid rgba(black, 0.2);

  a {
    display: block;
    font-weight: 400;
  }

  .router-link-active {
    font-weight: 600;
  }
}
