img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.titel {
  color: black;
  padding-top: 1.5rem;
  font-size: 40px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

p {
  padding-top: 1rem;
}
