@use "../abstract/variables" as *;

img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}

p {
  color: $clr-neutral-400;
  padding-bottom: 1.5rem;
  max-width: 120ch;
  margin: 0 auto;
}
