@use "../abstract/variables" as *;

img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.title {
  color: black;
  padding-top: 1.5rem;
  font-size: 40px;
}

.container {
  max-width: 120ch;
  margin: 0 auto;
}

p {
  color: $clr-neutral-400;
  padding-top: 1rem;
}
