// Section Begin - Badr

.learnMore {
  margin: 1%;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > div {
    flex: 1 1 30rem;
  }

  h1 {
    font-size: 60px;
    line-height: 1.1;
    font-weight: 800;
  }

  p {
    margin: 1.5rem 0 1rem 0;
  }

  img {
    height: 100%;
    width: 100%;
    margin-top: 100px;
  }
}

// Section Einde - Badr

// Buttons index - Badr
a {
  display: inline-block;
  border: 1px solid black;
  padding: 0.5rem 0.75rem;
}

.cta--overview {
  background-color: black;
  color: white;
  margin-right: 0.5rem;
}

.cta--learn-more {
  background-color: white;
  color: black;
}

@media screen and (max-width: 50rem) {
  section {
    text-align: center;
  }
}
