$fontsize-400: clamp(0.88rem, 0.84rem + 0.18vw, 1rem);
$fontsize-500: clamp(1rem, 0.93rem + 0.36vw, 1.25rem);
$fontsize-600: clamp(1rem, 0.71rem + 1.43vw, 2rem);
$fontsize-700: clamp(2rem, 1.44rem + 2.5vw, 2.75rem);
$fontsize-800: clamp(2.25rem, 1.13rem + 5vw, 3.75rem);

$clr-primary-400: rgb(36, 54, 224);

$clr-neutral-200: rgba(black, 0.2);
$clr-neutral-400: rgba(black, 0.7);
$clr-neutral-800: rgba(black, 0.87);

$nav-height: 6rem;
